@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,700,700i");
.santo {
  overflow: auto;
  height: auto; }

body {
  overflow: auto;
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%; }

h1, h2, h3, h4, h6, p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

/*preloder*/
.cut {
  overflow: hidden; }

#preloader {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1050;
  background-color: #fff;
  -webkit-transition: top 500ms linear 500ms;
  -o-transition: top 500ms linear 500ms;
  transition: top 500ms linear 500ms; }

#pulsar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1px;
  height: 1px;
  z-index: 100;
  background-color: transparent;
  opacity: 1;
  border-radius: 100%;
  border: 7px solid #64b1ff;
  -webkit-box-shadow: 2px 2px 20px 1px #6b6e7180;
  box-shadow: 2px 2px 20px 1px #6b6e7180;
  -webkit-animation: pulsar 2s infinite;
  animation: pulsar 2s infinite;
  -webkit-transition: all 200ms linear 0s;
  -o-transition: all 200ms linear 0s;
  transition: all 200ms linear 0s; }

.pulsar__dot {
  width: 10px;
  height: 10px;
  background-color: rgba(88, 170, 252, 0.76);
  border-radius: 100%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-animation: pulsardot 2s infinite;
  animation: pulsardot 2s infinite; }

#pulsar.hide {
  opacity: 0; }

#preloader.moveUp {
  top: -1500px; }

@-webkit-keyframes pulsardot {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(5);
    transform: scale(5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulsardot {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(5);
    transform: scale(5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes pulsar {
  0% {
    width: 1px;
    height: 1px; }
  50% {
    width: 100px;
    height: 100px; }
  100% {
    width: 1px;
    height: 1px; } }

@keyframes pulsar {
  0% {
    width: 1px;
    height: 1px; }
  50% {
    width: 100px;
    height: 100px; }
  100% {
    width: 1px;
    height: 1px; } }

/*preloder*/
.btn:focus, .form-control:focus {
  outline: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none; }

.form-control:focus {
  border-color: #4a4a4a; }

/*nav bar area start*/
.design {
  position: relative; }
  .design::before {
    content: '';
    position: absolute;
    background: url("../img/1.png") no-repeat;
    top: -200px;
    right: 0px;
    height: 100%;
    width: 22%; }
  .design::after {
    content: '';
    position: absolute;
    background: url("../img/3.png") no-repeat;
    right: 0px;
    height: 100%;
    width: 100%;
    bottom: -35%; }

.shrink {
  padding: 0 !important;
  margin: 0 !important;
  border-bottom: 2.5px solid;
  -webkit-border-image: -webkit-gradient(linear, left top, right top, from(#75baff), to(#0b4f93));
  -webkit-border-image: -webkit-linear-gradient(left, #75baff 0%, #0b4f93 100%);
  -o-border-image: -o-linear-gradient(left, #75baff 0%, #0b4f93 100%);
  border-image: -webkit-gradient(linear, left top, right top, from(#75baff), to(#0b4f93));
  border-image: linear-gradient(to right, #75baff 0%, #0b4f93 100%);
  border-image-slice: 1;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .shrink .navbar-brand img {
    width: 80% !important; }
  .shrink ul button {
    margin-top: 0px !important;
    padding: 10px 30px !important; }
  .shrink .container {
    width: 95%; }

.navbar .active1 .nav-link {
  color: #64b1ff !important; }

.navbar .navbar-toggler {
  outline: none !important; }

.navbar .navbar-nav {
  text-transform: uppercase; }
  .navbar .navbar-nav button {
    text-transform: uppercase;
    font-family: "Muli", sans-serif;
    font-family: "Muli", sans-serif;
    font-weight: 600;
    padding: 15px 40px;
    border-radius: 50px;
    margin-top: -8px;
    font-size: 14px;
    background: #fff;
    color: #4a4a4a;
    -webkit-box-shadow: 1px 4px 20px 0px #7b7b7b26;
    box-shadow: 1px 4px 20px 0px #7b7b7b26;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s; }
    .navbar .navbar-nav button i {
      padding-left: 10px;
      font-size: 14px;
      color: #4a4a4a;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s; }
    .navbar .navbar-nav button:hover {
      color: #fff;
      background: #64b1ff;
      -webkit-box-shadow: 1px 4px 20px 0px #7b7b7b6b;
      box-shadow: 1px 4px 20px 0px #7b7b7b6b; }
    .navbar .navbar-nav button:hover i {
      color: #fff; }
  .navbar .navbar-nav .nav-item {
    padding-top: 5px; }
    .navbar .navbar-nav .nav-item .nav-link {
      color: #4a4a4a;
      font-family: "Muli", sans-serif;
      font-family: "Muli", sans-serif;
      font-weight: 600;
      font-size: 12px;
      padding-right: 30px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }

.navbar .navbar-toggler-icon {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.navbar .open {
  border: none; }
  .navbar .open .customize-icon {
    height: 3px;
    width: 40px;
    background: #13579ec9;
    position: relative;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .navbar .open .customize-icon::after {
      content: '';
      position: absolute;
      height: 3px;
      width: 40px;
      background: #13579ec9;
      top: 0;
      left: 0;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }

/*nav bar area end*/
/*build area start*/
#build {
  position: relative;
  margin-top: 200px;
  z-index: 1; }
  #build h2 {
    font-family: "Roboto Condensed", sans-serif;
    color: #4a4a4a;
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase; }
  #build .bac {
    background: #64b1ff;
    color: #fff;
    width: 38%;
    padding: 0 6px; }
  #build p {
    font-family: "Muli", sans-serif;
    font-size: 16px;
    color: #4a4a4a;
    padding-top: 30px;
    line-height: 25px; }
  #build button {
    margin-top: 50px;
    padding: 11px 33px;
    background: transparent;
    border: 1px solid #4a4a4a;
    border-radius: 50px;
    font-size: 17px;
    font-family: "Muli", sans-serif;
    color: #4a4a4a;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer; }
    #build button:hover {
      background: #64b1ff;
      color: #fff;
      border-color: transparent;
      -webkit-box-shadow: 1px 3px 10px 0px #6b6e7180;
      box-shadow: 1px 3px 10px 0px #6b6e7180; }
  #build .btn2 {
    margin-left: 22px; }

/*build area end*/
#brand {
  padding-top: 45px; }
  #brand img {
    padding-left: 50px; }

/*brand area start*/
/*service area star*/
.uk-lightbox {
  z-index: 1040; }

/*service area end*/
/*service area start*/
#service {
  padding: 50px 0px; }
  #service h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 26px;
    font-weight: bolder;
    padding-bottom: 25px;
    color: #4a4a4a;
    text-align: right; }
  #service p {
    font-family: "Muli", sans-serif;
    font-size: 16px;
    color: #4a4a4a;
    text-align: right;
    padding-bottom: 65px;
    line-height: 25px; }
  #service .btn-dgn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    #service .btn-dgn button, #service .btn-dgn a {
      padding: 11px 33px;
      background: transparent;
      border-radius: 50px;
      font-size: 17px;
      font-family: "Muli", sans-serif;
      color: #4a4a4a;
      height: 50px;
      text-transform: uppercase;
      font-weight: 600;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      cursor: pointer;
      -webkit-box-shadow: 2px 3px 13px 0px #ababab61;
      box-shadow: 2px 3px 13px 0px #ababab61; }
      #service .btn-dgn button:hover, #service .btn-dgn a:hover {
        -webkit-box-shadow: 1px 3px 9px 0px #6b6e7126;
        box-shadow: 1px 3px 9px 0px #6b6e7126;
        color: #64b1ff; }
    #service .btn-dgn .vidcls {
      margin-left: 22px;
      border-radius: 50px;
      padding: 11px 25px;
      color: #64b1ff;
      height: 50px;
      font-size: 20px;
      -webkit-box-shadow: 2px 3px 13px 0px #ababab61;
      box-shadow: 2px 3px 13px 0px #ababab61;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      #service .btn-dgn .vidcls:hover {
        -webkit-box-shadow: 1px 3px 9px 0px #6b6e7126;
        box-shadow: 1px 3px 9px 0px #6b6e7126;
        background: #64b1ff;
        color: #fff; }
      #service .btn-dgn .vidcls a {
        margin-top: -12px;
        padding: 11px 0px;
        color: #64b1ff;
        -webkit-box-shadow: none;
        box-shadow: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        #service .btn-dgn .vidcls a:hover {
          color: #fff; }
        #service .btn-dgn .vidcls a::before {
          font-family: "Font Awesome 5 Free";
          content: "\f144";
          display: inline-block;
          vertical-align: middle;
          font-weight: 900;
          font-size: 20px;
          padding-right: 10px; }
  #service .service-item {
    padding: 70px 0px;
    cursor: pointer; }
    #service .service-item .service-items {
      padding: 60px 70px 0px 70px;
      border-bottom: 3px solid transparent;
      border-radius: 5px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      #service .service-item .service-items h2 {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 26px;
        font-weight: bolder;
        padding-top: 35px;
        padding-bottom: 15px;
        color: #4a4a4a;
        text-transform: uppercase;
        text-align: left; }
      #service .service-item .service-items p {
        font-family: "Muli", sans-serif;
        font-size: 15px;
        color: #4a4a4a;
        line-height: 25px;
        text-align: justify; }
      #service .service-item .service-items:hover {
        border-bottom: 4px solid #64b1ff;
        -webkit-box-shadow: 0px 2px 18px 0px #ababab47;
        box-shadow: 0px 2px 18px 0px #ababab47;
        -webkit-transform: translate(0%, -5%);
        -ms-transform: translate(0%, -5%);
        transform: translate(0%, -5%); }

/*service area end*/
/*worl area start*/
#work .work-text h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 26px;
  font-weight: bolder;
  padding-bottom: 20px;
  color: #4a4a4a;
  text-transform: capitalize; }

#work .work-text p {
  font-family: "Muli", sans-serif;
  font-size: 15px;
  color: #4a4a4a;
  line-height: 25px; }

#work .work-text button {
  margin-top: 27px;
  height: 50px;
  padding: 11px 33px;
  background: transparent;
  border: 1px solid #4a4a4a;
  border-radius: 50px;
  font-size: 17px;
  font-family: "Muli", sans-serif;
  color: #4a4a4a;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer; }
  #work .work-text button:hover {
    background: #64b1ff;
    color: #fff;
    border-color: transparent;
    -webkit-box-shadow: 1px 3px 10px 0px #6b6e7180;
    box-shadow: 1px 3px 10px 0px #6b6e7180; }

#work .work-dgn .work-design:focus {
  outline: none !important; }

#work .work-dgn .work-design a:focus {
  outline: none !important; }

#work .work-dgn .work-design img {
  height: 350px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  #work .work-dgn .work-design img:focus {
    outline: none !important; }
  #work .work-dgn .work-design img:hover {
    -webkit-box-shadow: 4px 0px 20px 0px #b3b3b33d;
    box-shadow: 4px 0px 20px 0px #b3b3b33d;
    -webkit-transform: translate(13px);
    -ms-transform: translate(13px);
    transform: translate(13px);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left; }

#work .activediv {
  padding: 50px 0;
  display: none;
  overflow-x: visible;
  overflow-y: visible; }
  #work .activediv .slick-track {
    opacity: 1 !important;
    width: 14430px !important; }
  #work .activediv .work-design {
    width: 370px !important; }

#work .activ-dgn {
  display: block; }

/*worl area end*/
/*work-folow area start*/
#work-flow h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 26px;
  font-weight: bolder;
  padding-bottom: 25px;
  color: #4a4a4a;
  text-align: right; }

#work-flow p {
  font-family: "Muli", sans-serif;
  font-size: 17px;
  color: #4a4a4a;
  text-align: right;
  padding-bottom: 65px;
  line-height: 25px; }

#work-flow .btn-dgn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  #work-flow .btn-dgn button {
    padding: 11px 33px;
    background: transparent;
    border-radius: 50px;
    font-size: 17px;
    font-family: "Muli", sans-serif;
    color: #4a4a4a;
    height: 50px;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    -webkit-box-shadow: 2px 3px 13px 0px #ababab61;
    box-shadow: 2px 3px 13px 0px #ababab61; }
    #work-flow .btn-dgn button:hover {
      webkit-box-shadow: 1px 3px 9px 0px #6b6e7126;
      -webkit-box-shadow: 1px 3px 9px 0px #6b6e7126;
      box-shadow: 1px 3px 9px 0px #6b6e7126;
      color: #64b1ff; }

/*work-folow area end*/
/*contact area star*/
#contact h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 26px;
  font-weight: bolder;
  padding-bottom: 10px;
  color: #4a4a4a; }

#contact p {
  font-family: "Muli", sans-serif;
  font-size: 17px;
  color: #4a4a4a;
  padding-bottom: 15px;
  line-height: 25px; }

#contact .btn-dgn button {
  padding: 11px 33px;
  background: transparent;
  border: 1px solid #4a4a4a;
  border-radius: 50px;
  font-size: 17px;
  font-family: "Muli", sans-serif;
  color: #4a4a4a;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer; }
  #contact .btn-dgn button:hover {
    background: #64b1ff;
    color: #fff;
    border-color: transparent;
    -webkit-box-shadow: 1px 3px 10px 0px #6b6e7180;
    box-shadow: 1px 3px 10px 0px #6b6e7180; }

#modal1 {
  z-index: 99999 !important;
  border: none !important;
  max-width: 50% !important; }
  #modal1 label {
    width: 100%; }
    #modal1 label .form-control {
      display: inline-block;
      width: 92%; }
  #modal1 h5, #modal1 button {
    font-family: "Muli", sans-serif;
    font-size: 15px;
    color: #4a4a4a;
    line-height: 25px; }
  #modal1 h5 {
    margin: 0;
    padding: 0; }
  #modal1 span {
    background: #e0f0ff;
    border-radius: 3px 0 0 3px;
    position: relative;
    float: left;
    height: 38px;
    width: 38px;
    text-align: center;
    line-height: 42px; }
    #modal1 span i {
      font-size: 22px;
      color: #64b1ff; }
  #modal1 .form-control {
    border-radius: 0 3px 3px 0; }
  #modal1 textarea {
    width: 92%;
    padding: 5px; }
  #modal1 button {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
    background: transparent;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    font-family: "Muli", sans-serif;
    color: #4a4a4a;
    font-weight: 600;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    #modal1 button:hover {
      background: #64b1ff;
      color: #fff;
      border-color: transparent;
      -webkit-box-shadow: 1px 3px 10px 0px #6b6e7180;
      box-shadow: 1px 3px 10px 0px #6b6e7180; }
    #modal1 button:hover i {
      color: #fff; }
    #modal1 button i {
      font-size: 22px;
      color: #64b1ff;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
  #modal1 .contacts_name {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #4a4a4a;
    text-align: center; }
  #modal1 input:focus, #modal1 textarea:focus {
    border-color: #64b1ff; }

.iziModal-overlay {
  z-index: 9999 !important; }

.iziModal.hasShadow::after {
  opacity: 0 !important; }

.iziModal .iziModal-header {
  background: #fff !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.iziModal .iziModal-header-buttons {
  background: slategrey;
  border-radius: 50px; }

/*contact area end*/
/*footer area star */
#footer {
  background: #f7f7f7; }
  #footer .logo {
    padding-bottom: 15px; }
  #footer p {
    font-family: "Muli", sans-serif;
    font-size: 13px;
    color: #4a4a4a;
    line-height: 25px;
    padding-right: 174px;
    padding-bottom: 60px;
    font-weight: 600; }
  #footer .socil-icon a {
    padding-right: 20px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    #footer .socil-icon a i {
      font-size: 40px;
      color: #4a4a4a;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    #footer .socil-icon a:hover i {
      -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
      transform: translateY(-3px); }
    #footer .socil-icon a:first-child:hover i {
      color: #3b5999; }
    #footer .socil-icon a:nth-child(2):hover i {
      color: #55acee; }
    #footer .socil-icon a:nth-child(3):hover i {
      color: #0077B5; }
    #footer .socil-icon a:last-child:hover i {
      color: #dd4b39; }
    #footer .socil-icon a:last-child {
      padding-right: 0; }
  #footer .footer-item .item h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #4a4a4a;
    text-transform: capitalize;
    padding-bottom: 12px; }
  #footer .footer-item .item a {
    padding: 7px 0;
    display: block;
    font-family: "Muli", sans-serif;
    font-size: 13.5px;
    text-transform: capitalize;
    color: #4a4a4a;
    line-height: 25px;
    font-weight: 600;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    #footer .footer-item .item a:hover {
      color: #64b1ff; }
  #footer .footer-item .subscribe {
    padding-top: 45px; }
    #footer .footer-item .subscribe input {
      position: relative;
      height: 50px;
      width: 90%;
      margin: 0 auto;
      border: 1px solid transparent;
      color: #4a4a4a; }
      #footer .footer-item .subscribe input:focus {
        border-color: #64b1ff; }
      #footer .footer-item .subscribe input::-webkit-input-placeholder {
        color: #c7c7c7; }
      #footer .footer-item .subscribe input:-ms-input-placeholder {
        color: #c7c7c7; }
      #footer .footer-item .subscribe input::-ms-input-placeholder {
        color: #c7c7c7; }
      #footer .footer-item .subscribe input::placeholder {
        color: #c7c7c7; }
    #footer .footer-item .subscribe button {
      position: absolute;
      top: 54%;
      right: 50px;
      font-family: "Muli", sans-serif;
      color: #fff;
      background: #64b1ff;
      font-weight: 600;
      cursor: pointer; }

/*footer area end*/
/*===============================responsiv=========================*/
/*navbar area sratr*/
@media only screen and (max-width: 768px) {
  .navbar .navbar-nav {
    background: #fff; }
    .navbar .navbar-nav .nav-item .nav-link {
      text-align: center; }
  .navbar .navbar-nav button {
    margin-bottom: 15px; } }

@media only screen and (min-width: 576px) and (max-width: 992px) {
  .navbar .navbar-nav button {
    padding: 10px 30px; } }

/*navbar area end*/
/* build area start*/
@media only screen and (max-width: 230px) {
  #build h2 {
    font-size: 20px; }
  #build .bac {
    width: 42%; } }

@media only screen and (min-width: 230px) and (max-width: 333px) {
  #build h2 {
    font-size: 19px; }
  #build .bac {
    width: 40%; } }

@media only screen and (min-width: 334px) and (max-width: 490px) {
  #build h2 {
    font-size: 30px; }
  #build .bac {
    width: 39%; } }

@media only screen and (min-width: 490px) and (max-width: 576px) {
  #build h2 {
    font-size: 48px; }
  #build .bac {
    width: 39%; } }

@media only screen and (min-width: 576px) and (max-width: 768px) {
  #build h2 {
    font-size: 50px; }
  #build .bac {
    width: 39%; } }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #build h2 {
    font-size: 35px; }
  #build .bac {
    width: 41%; }
  #build button {
    padding: 11px 18px; } }

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #build h2 {
    font-size: 45px; }
  #build .bac {
    width: 41%; } }

@media only screen and (max-width: 419px) {
  #build .btn-dgn button {
    font-size: 13px;
    width: 100%; }
  #build .btn2 {
    margin-top: 10px;
    margin-left: 0px !important; } }

@media only screen and (min-width: 420px) and (max-width: 768px) {
  #build .btn-dgn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #build .btn-dgn button {
      font-size: 15px; } }

/* build area end*/
/*bard ara start*/
@media only screen and (max-width: 576px) {
  #brand img {
    padding-left: 36%;
    width: 65%;
    padding-top: 30px; } }

/*bard ara end*/
/*Service area and work-flow start*/
@media only screen and (max-width: 431px) {
  #service .btn-dgn, #work-flow .btn-dgn {
    display: block; }
    #service .btn-dgn button, #work-flow .btn-dgn button {
      width: 100%;
      margin-bottom: 15px; }
    #service .btn-dgn .vidcls, #work-flow .btn-dgn .vidcls {
      margin-left: 0; } }

@media only screen and (min-width: 432px) and (max-width: 768px) {
  #service .btn-dgn, #work-flow .btn-dgn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media only screen and (max-width: 576px) {
  #service .service-item .service-items {
    padding: 60px 20px 0px 20px; }
    #service .service-item .service-items img {
      display: block;
      margin: 0 auto; }
    #service .service-item .service-items h2, #service .service-item .service-items p {
      text-align: center; } }

@media only screen and (min-width: 577px) and (max-width: 767px) {
  #service .service-item .service-items {
    padding: 60px 40px 0px 40px; }
    #service .service-item .service-items img {
      display: block;
      margin: 0 auto; }
    #service .service-item .service-items h2 {
      text-align: center; } }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #service .service-item .service-items {
    padding: 60px 10px 0px 10px; } }

@media only screen and (min-width: 1200px) {
  #service .row {
    padding: 0 50px; } }

@media only screen and (max-width: 768px) {
  #service h2, #service p, #work-flow h2, #work-flow p {
    text-align: center; } }

/*Service area and work-flow end*/
/*contacts ara star*/
@media only screen and (max-width: 431px) {
  .btn-dgn button {
    width: 100%;
    display: block; } }

@media only screen and (min-width: 431px) and (max-width: 768px) {
  .btn-dgn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media only screen and (max-width: 768px) {
  #contact .respon-siv {
    margin-top: 75px !important; }
    #contact .respon-siv h2, #contact .respon-siv p {
      text-align: center; } }

/*contacts modal start*/
@media only screen and (max-width: 576px) {
  #modal1 .contacts_name {
    font-size: 20px; }
  #modal1 input, #modal1 textarea {
    max-width: 60%; } }

@media only screen and (min-width: 576px) {
  #modal1 input, #modal1 textarea {
    max-width: 82%; } }

/*contacts modal end*/
/*contacts ara end*/
/*footer area star*/
@media only screen and (max-width: 575px) {
  #footer .res-ponsiv {
    max-width: 33.3%; } }

@media only screen and (min-width: 350px) {
  #footer .footer-item {
    padding-top: 45px; }
    #footer .footer-item .res-ponsiv {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

@media only screen and (max-width: 767px) {
  #footer .logo {
    max-width: 15%;
    margin: 0 auto; }
  #footer p {
    text-align: center;
    font-size: 14px;
    width: 85%;
    margin: 0 auto;
    padding-right: 0px; }
  #footer .socil-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  #footer .footer-item {
    padding-top: 45px; } }

@media only screen and (max-width: 992px) {
  #footer p {
    padding-right: 0; } }

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #footer p {
    padding-right: 75px; } }

/*footer area end*/
