
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,700,700i');
$fontsa: 'Roboto Condensed', sans-serif;
$fontsan: 'Muli', sans-serif;
$primary-color: #4a4a4a;
$text-color: #64b1ff;
.santo{
  overflow: auto;
  height: auto;
}
body{
  overflow: auto;
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}
h1, h2, h3, h4, h6, p{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

/*preloder*/

.cut {overflow: hidden;}

#preloader {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1050;
    background-color: #fff;
    -webkit-transition: top 500ms linear 500ms;
    -o-transition: top 500ms linear 500ms;
    transition: top 500ms linear 500ms;
}

#pulsar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1px;
    height: 1px;
    z-index: 100;
    background-color: transparent;
    opacity: 1;
    border-radius: 100%;
    border: 7px solid $text-color;
    -webkit-box-shadow: 2px 2px 20px 1px #6b6e7180;
            box-shadow: 2px 2px 20px 1px #6b6e7180;
    -webkit-animation: pulsar 2s infinite;
            animation: pulsar 2s infinite;
    -webkit-transition: all 200ms linear 0s;
    -o-transition: all 200ms linear 0s;
    transition: all 200ms linear 0s;
}

.pulsar__dot {
    width: 10px;
    height: 10px;
    background-color: rgba(#58aafc, 0.76);
    border-radius: 100%;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-animation: pulsardot 2s infinite;
            animation: pulsardot 2s infinite;
}

#pulsar.hide {
    opacity: 0;
}

#preloader.moveUp {
    top: -1500px;
}

@-webkit-keyframes pulsardot {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    50% {
        -webkit-transform: scale(5);
                transform: scale(5);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes pulsardot {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    50% {
        -webkit-transform: scale(5);
                transform: scale(5);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@-webkit-keyframes pulsar {
    0% {
        width: 1px;
        height: 1px;
    }

    50% {
        width: 100px;
        height: 100px;
    }

    100% {
        width: 1px;
        height: 1px;
    }
}

@keyframes pulsar {
    0% {
        width: 1px;
        height: 1px;
    }

    50% {
        width: 100px;
        height: 100px;
    }

    100% {
        width: 1px;
        height: 1px;
    }
}
/*preloder*/

.btn:focus, .form-control:focus{
  outline: 0 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.form-control:focus{
  border-color: $primary-color;
}

/*nav bar area start*/
.design{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    background: url('../img/1.png') no-repeat;
    top: -200px;
    right: 0px;
    height: 100%;
    width: 22%;
  }
  &::after{
    content: '';
    position: absolute;
    background: url('../img/3.png') no-repeat;
    right: 0px;
    height: 100%;
    width: 100%;
    bottom: -35%;
  }
}
.shrink{
  padding: 0 !important;
  margin: 0 !important;
  border-bottom: 2.5px solid;
  -webkit-border-image: -webkit-gradient(linear, left top, right top, from(#75baff), to(#0b4f93));
  -webkit-border-image: -webkit-linear-gradient(left, #75baff 0%, #0b4f93 100%);
       -o-border-image: -o-linear-gradient(left, #75baff 0%, #0b4f93 100%);
          border-image: -webkit-gradient(linear, left top, right top, from(#75baff), to(#0b4f93));
          border-image: linear-gradient(to right, #75baff 0%, #0b4f93 100%);
  border-image-slice: 1;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  .navbar-brand{
    img{
      width: 80% !important;
    }
  }
  ul{
    button{
      margin-top: 0px !important;
      padding: 10px 30px !important;
    }
  }
  .container{
    width: 95%;
  }
}
  .navbar{
    .active1 .nav-link{
      color: $text-color !important;
    }
     .navbar-toggler {
      outline: none !important;
      }
    .customize-icon{

    }
      .navbar-nav{
        text-transform: uppercase;
        button{
          text-transform: uppercase;
          font-family: $fontsan;
          font-family: "Muli", sans-serif;
          font-weight: 600;
          padding: 15px 40px;
          border-radius: 50px;
          margin-top: -8px;
          font-size: 14px;
          background: #fff;
          color: $primary-color;
          -webkit-box-shadow: 1px 4px 20px 0px #7b7b7b26;
                  box-shadow: 1px 4px 20px 0px #7b7b7b26;
          -webkit-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          transition: all ease 0.3s;
          i{
            padding-left: 10px;
            font-size: 14px;
            color: $primary-color;
            -webkit-transition: all ease 0.3s;
            -o-transition: all ease 0.3s;
            transition: all ease 0.3s;
          }
          &:hover{
            color: #fff;
            background: $text-color;
            -webkit-box-shadow: 1px 4px 20px 0px #7b7b7b6b;
                    box-shadow: 1px 4px 20px 0px #7b7b7b6b;
          }
          &:hover i{
            color: #fff;
          }
        }
        .nav-item{
          padding-top: 5px;
          .nav-link{
            color: $primary-color;
            font-family: $fontsan;
            font-family: "Muli", sans-serif;
            font-weight: 600;
            font-size: 12px;
            padding-right: 30px;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }
        }
      }
      .navbar-toggler-icon{
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      .open{
        border: none;
        .customize-icon{
          height: 3px;
          width: 40px;
          background: #13579ec9;
          position: relative;
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          &::after{
            content: '';
            position: absolute;
            height: 3px;
            width: 40px;
            background: #13579ec9;
            top: 0;
            left: 0;
            -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }
        }
      }
  }
/*nav bar area end*/

/*build area start*/
#build{
  position: relative;
  margin-top: 200px;
  z-index: 1;
  h2{
    font-family: $fontsa;
    color: $primary-color;
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .bac{
    background: #64b1ff;
    color: #fff;
    width: 38%;
    padding: 0 6px;
  }
  p{
    font-family: $fontsan;
    font-size: 16px;
    color: $primary-color;
    padding-top: 30px;
    line-height: 25px;
  }
  button{
    margin-top: 50px;
    padding: 11px 33px;
    background: transparent;
    border: 1px solid $primary-color;
    border-radius: 50px;
    font-size: 17px;
    font-family: $fontsan;
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover{
      background: $text-color;
      color: #fff;
      border-color: transparent;
      -webkit-box-shadow: 1px 3px 10px 0px #6b6e7180;
              box-shadow: 1px 3px 10px 0px #6b6e7180;
    }
  }
  .btn2{
    margin-left: 22px;
  }
}
/*build area end*/
#brand{
    padding-top: 45px;
  img{
    padding-left: 50px;
  }
}
/*brand area start*/

/*service area star*/
.uk-lightbox{
  z-index: 1040;
}
/*service area end*/

/*service area start*/
#service{
  padding: 50px 0px;
  h2{
    font-family: $fontsa;
    font-size: 26px;
    font-weight: bolder;
    padding-bottom: 25px;
    color: $primary-color;
    text-align: right;
  }
  p{
    font-family: $fontsan;
    font-size: 16px;
    color: $primary-color;
    text-align: right;
    padding-bottom: 65px;
    line-height: 25px;
  }
  .btn-dgn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    button, a{
    padding: 11px 33px;
    background: transparent;
    border-radius: 50px;
    font-size: 17px;
    font-family: "Muli", sans-serif;
    color: #4a4a4a;
    height: 50px;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    -webkit-box-shadow: 2px 3px 13px 0px #ababab61;
            box-shadow: 2px 3px 13px 0px #ababab61;
    &:hover{
        -webkit-box-shadow: 1px 3px 9px 0px #6b6e7126;
                box-shadow: 1px 3px 9px 0px #6b6e7126;
        color: $text-color;
      }
    }
    .vidcls{
      margin-left: 22px;
      border-radius: 50px;
      padding: 11px 25px;
      color: $text-color;
      height: 50px;
      font-size: 20px;
      -webkit-box-shadow: 2px 3px 13px 0px #ababab61;
              box-shadow: 2px 3px 13px 0px #ababab61;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      &:hover{
          -webkit-box-shadow: 1px 3px 9px 0px #6b6e7126;
                  box-shadow: 1px 3px 9px 0px #6b6e7126;
          background: $text-color;
          color: #fff;
        }
      a{
        margin-top: -12px;
        padding: 11px 0px;
        color: $text-color;
        -webkit-box-shadow: none;
                box-shadow: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        &:hover{
          color: #fff;
        }
        &::before{
          font-family: "Font Awesome 5 Free";
          content: "\f144";
          display: inline-block;
          vertical-align: middle;
          font-weight: 900;
          font-size: 20px;
          padding-right: 10px;
        }
      }
    }
  }
  .service-item{
    padding: 70px 0px;
    cursor: pointer;
    .service-items{
      padding: 60px 70px 0px 70px;
      border-bottom: 3px solid transparent;
      border-radius: 5px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      h2{
        font-family: $fontsa;
        font-size: 26px;
        font-weight: bolder;
        padding-top: 35px;
        padding-bottom: 15px;
        color: #4a4a4a;
        text-transform: uppercase;
        text-align: left;
      }
      p{
        font-family: $fontsan;
        font-size: 15px;
        color: $primary-color;
        line-height: 25px;
        text-align: justify;
      }
      &:hover{
        border-bottom: 4px solid $text-color;
        -webkit-box-shadow: 0px 2px 18px 0px #ababab47;
                box-shadow: 0px 2px 18px 0px #ababab47;
        -webkit-transform: translate(0%,-5% );
            -ms-transform: translate(0%,-5% );
                transform: translate(0%,-5% );
      }
    }
  }
}
/*service area end*/

/*worl area start*/
#work{
  .work-text{
    h2{
      font-family: $fontsa;
      font-size: 26px;
      font-weight: bolder;
      padding-bottom: 20px;
      color: $primary-color;
      text-transform: capitalize;
    }
    p{
      font-family: $fontsan;
      font-size: 15px;
      color: $primary-color;
      line-height: 25px;
    }
    button{
      margin-top: 27px;
      height: 50px;
      padding: 11px 33px;
      background: transparent;
      border: 1px solid $primary-color;
      border-radius: 50px;
      font-size: 17px;
      font-family: $fontsan;
      color: $primary-color;
      text-transform: uppercase;
      font-weight: 600;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      cursor: pointer;
      &:hover{
        background: $text-color;
        color: #fff;
        border-color: transparent;
        -webkit-box-shadow: 1px 3px 10px 0px #6b6e7180;
        box-shadow: 1px 3px 10px 0px #6b6e7180;
      }
    }
  }
  .work-dgn{

    .work-design{
      &:focus{
        outline: none !important;
      }
      a{
        &:focus{
          outline: none !important;

        }
      }
      img{
        height: 350px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:focus{
          outline: none !important;
        }
        &:hover{
          -webkit-box-shadow: 4px 0px 20px 0px #b3b3b33d;
                  box-shadow: 4px 0px 20px 0px #b3b3b33d;
          -webkit-transform: translate(13px);
              -ms-transform: translate(13px);
                  transform: translate(13px);
          -webkit-transform-origin: left;
              -ms-transform-origin: left;
                  transform-origin: left;
        }
      }
    }
  }
  .activediv{
    padding: 50px 0;
    display: none;
    overflow-x: visible;
    overflow-y: visible;
    .slick-track{
      opacity: 1 !important;
      width: 14430px !important;
    }
    .work-design{
        width: 370px !important;
    }
  }
  .activ-dgn{
  display: block;
  }
}
/*worl area end*/

/*work-folow area start*/
  #work-flow{
    h2{
      font-family: $fontsa;
      font-size: 26px;
      font-weight: bolder;
      padding-bottom: 25px;
      color: $primary-color;
      text-align: right;
    }
    p{
      font-family: $fontsan;
      font-size: 17px;
      color: $primary-color;
      text-align: right;
      padding-bottom: 65px;
      line-height: 25px;
    }
    .btn-dgn{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      button{
        padding: 11px 33px;
        background: transparent;
        border-radius: 50px;
        font-size: 17px;
        font-family: "Muli", sans-serif;
        color: #4a4a4a;
        height: 50px;
        text-transform: uppercase;
        font-weight: 600;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        cursor: pointer;
        -webkit-box-shadow: 2px 3px 13px 0px #ababab61;
        box-shadow: 2px 3px 13px 0px #ababab61;
        &:hover{
          webkit-box-shadow: 1px 3px 9px 0px #6b6e7126;
        -webkit-box-shadow: 1px 3px 9px 0px #6b6e7126;
                box-shadow: 1px 3px 9px 0px #6b6e7126;
        color: #64b1ff;
        }
      }
    }
  }
/*work-folow area end*/

/*contact area star*/
  #contact{
    h2{
      font-family: $fontsa;
      font-size: 26px;
      font-weight: bolder;
      padding-bottom: 10px;
      color: $primary-color;
    }
    p{
      font-family: $fontsan;
      font-size: 17px;
      color: $primary-color;
      padding-bottom: 15px;
      line-height: 25px;
  }
  .btn-dgn{
  button{
    padding: 11px 33px;
    background: transparent;
    border: 1px solid $primary-color;
    border-radius: 50px;
    font-size: 17px;
    font-family: "Muli", sans-serif;
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover{
      background: $text-color;
      color: #fff;
      border-color: transparent;
      -webkit-box-shadow: 1px 3px 10px 0px #6b6e7180;
      box-shadow: 1px 3px 10px 0px #6b6e7180;
      }
    }
  }
}
  #modal1{
    z-index: 99999 !important;
    border: none !important;
    max-width: 50% !important;
    label{
      width: 100%;
        .form-control{
          display: inline-block;
          width: 92%;
        }
    }
    h5, button{
      font-family: $fontsan;
      font-size: 15px;
      color: $primary-color;
      line-height: 25px;
    }
    h5{
      margin: 0;
      padding: 0;
    }
    span{
      background: #e0f0ff;
      border-radius: 3px 0 0 3px;
      position: relative;
      float: left;
      height: 38px;
      width: 38px;
      text-align: center;
      line-height: 42px;
      i{
        font-size: 22px;
        color: $text-color;
      }
    }
    .form-control{
      border-radius: 0 3px 3px 0;
    }
    textarea{
      width: 92%;
      padding: 5px;
    }
    button{
      display: block;
      width: 100%;
      text-transform: uppercase;
      font-size: 20px;
      background: transparent;
      border: 1px solid #a9a9a9;
      border-radius: 5px;
      font-family: "Muli", sans-serif;
      color: #4a4a4a;
      font-weight: 600;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      &:hover{
        background: $text-color;
        color: #fff;
        border-color: transparent;
        -webkit-box-shadow: 1px 3px 10px 0px #6b6e7180;
        box-shadow: 1px 3px 10px 0px #6b6e7180;
      }
      &:hover i{
        color: #fff;
      }
      i{
        font-size: 22px;
        color: $text-color;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }
    .contacts_name{
      font-family: $fontsa;
      font-size: 35px;
      text-transform: uppercase;
      font-weight: bolder;
      color: $primary-color;
      text-align: center;
    }
    input:focus, textarea:focus{
      border-color: $text-color
    }
  }
    .iziModal-overlay{
    z-index: 9999 !important;
  }
  .iziModal.hasShadow::after{
    opacity: 0 !important;
}
.iziModal .iziModal-header{
  background: #fff !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.iziModal .iziModal-header-buttons{
  background: slategrey;
    border-radius: 50px;
}
/*contact area end*/

/*footer area star */
#footer{
  background: #f7f7f7;
  .logo{
    padding-bottom: 15px;
  }
  p{
    font-family: $fontsan;
    font-size: 13px;
    color: $primary-color;
    line-height: 25px;
    padding-right: 174px;
    padding-bottom: 60px;
    font-weight: 600;
  }
  .socil-icon{
    a{
      padding-right: 20px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      i{
        font-size: 40px;
        color: $primary-color;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      &:hover i{
        -webkit-transform: translateY(-3px);
            -ms-transform: translateY(-3px);
                transform: translateY(-3px);
      }
      &:first-child:hover i{
        color: #3b5999;
      }
      &:nth-child(2):hover i{
        color: #55acee;
      }
      &:nth-child(3):hover i{
        color: #0077B5;
      }
      &:last-child:hover i{
        color: #dd4b39;
      }
      &:last-child{
        padding-right: 0;
      }
    }
  }
  .footer-item{
    .item{
      h3{
        font-family: $fontsa;
        font-size: 25px;
        font-weight: bolder;
        color: $primary-color;
        text-transform: capitalize;
        padding-bottom: 12px;
      }
      a{
        padding: 7px 0;
        display: block;
        font-family: $fontsan;
        font-size: 13.5px;
        text-transform: capitalize;
        color: $primary-color;
        line-height: 25px;
        font-weight: 600;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:hover{
          color: $text-color;
        }
      }
    }
    .subscribe{
      padding-top: 45px;
      input{
        position: relative;
        height: 50px;
        width: 90%;
        margin: 0 auto;
        border: 1px solid transparent;
        color: $primary-color;
        &:focus{
          border-color: $text-color;
        }
        &::-webkit-input-placeholder{
          color: #c7c7c7;
        }
        &:-ms-input-placeholder{
          color: #c7c7c7;
        }
        &::-ms-input-placeholder{
          color: #c7c7c7;
        }
        &::placeholder{
          color: #c7c7c7;
        }
      }
      button{
        position: absolute;
        top: 54%;
        right: 50px;
        font-family: $fontsan;
        color: #fff;
        background: $text-color;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}
/*footer area end*/
/*===============================responsiv=========================*/

/*navbar area sratr*/
@media only screen and (max-width: 768px){
  .navbar{
    .navbar-nav{
      background: #fff;
      .nav-item .nav-link{
        text-align: center;
      }
    }
  }
  .navbar .navbar-nav button{
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 992px){
  .navbar{
   .navbar-nav button{
     padding: 10px 30px;
   }
  }
}

/*navbar area end*/

/* build area start*/
@media only screen and(max-width: 230px){
  #build{
    h2{
      font-size: 20px;
    }
    .bac{
      width: 42%;
    }
  }
}
@media only screen and(min-width: 230px) and (max-width: 333px){
  #build{
    h2{
      font-size: 19px;
    }
    .bac{
      width: 40%;
    }
  }
}
@media only screen and(min-width: 334px) and (max-width: 490px){
  #build{
    h2{
      font-size: 30px;
    }
    .bac{
      width: 39%;
    }
  }
}
@media only screen and(min-width: 490px) and (max-width: 576px){
  #build{
    h2{
      font-size: 48px;
    }
    .bac{
      width: 39%;
    }
  }
}
@media only screen and(min-width: 576px) and (max-width: 768px){
  #build{
    h2{
      font-size: 50px;
    }
    .bac{
      width: 39%;
    }
  }
}
@media only screen and(min-width: 768px) and (max-width: 992px){
  #build{
    h2{
      font-size: 35px;
    }
    .bac{
      width: 41%;
    }
    button{
      padding: 11px 18px;
    }
  }
}
@media only screen and(min-width: 992px) and (max-width: 1200px){
  #build{
    h2{
      font-size: 45px;
    }
    .bac{
      width: 41%;
    }
  }
}
@media only screen and (max-width: 419px){
  #build{
    .btn-dgn{
      button{
        font-size: 13px;
        width: 100%;
      }
    }
    .btn2{
      margin-top: 10px;
      margin-left: 0px !important;
    }
  }
}
@media only screen and (min-width: 420px) and (max-width: 768px){
  #build{
    .btn-dgn{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      button{
        font-size: 15px;
      }
    }
  }
}
/* build area end*/

/*bard ara start*/
@media only screen and (max-width: 576px){
  #brand{
    img{
      padding-left: 36%;
      width: 65%;
      padding-top: 30px;
    }
  }
}
/*bard ara end*/

/*Service area and work-flow start*/
@media only screen and (max-width: 431px){
  #service, #work-flow, {
    .btn-dgn{
      display: block;
      button{
        width: 100%;
        margin-bottom: 15px;
      }
      .vidcls{
        margin-left: 0;
      }
    }
  }
}

@media only screen and (min-width: 432px) and (max-width: 768px){
  #service, #work-flow{
    .btn-dgn{
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
}
@media only screen and (max-width: 576px){
  #service .service-item .service-items{
    padding: 60px 20px 0px 20px;
    img{
      display: block;
      margin: 0 auto;
    }
    h2, p{
      text-align: center;
    }
  }
}
@media only screen and (min-width: 577px) and (max-width: 767px){
  #service .service-item .service-items{
    padding: 60px 40px 0px 40px;
    img{
      display: block;
      margin: 0 auto;
    }
    h2{
      text-align: center;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px){
  #service .service-item .service-items{
    padding: 60px 10px 0px 10px;
  }
}
@media only screen and (min-width: 1200px){
  #service .row{
    padding: 0 50px;
  }
}
@media only screen and (max-width: 768px){
  #service h2, #service p, #work-flow h2, #work-flow p {
    text-align: center;
  }
}
/*Service area and work-flow end*/




/*contacts ara star*/
@media only screen and (max-width: 431px){
  .btn-dgn{
    button{
      width: 100%;
      display: block;
    }
  }
}
@media only screen and (min-width: 431px) and (max-width: 768px){
  .btn-dgn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    button{
    }
  }
}
@media only screen and (max-width: 768px){
  #contact{
    .respon-siv{
        margin-top: 75px !important;
      h2, p{
        text-align: center;
      }
    }
  }
}

/*contacts modal start*/
  @media only screen and (max-width: 576px){
    #modal1{
      .contacts_name{
        font-size: 20px;
      }
      input, textarea{
        max-width: 60%;
      }
    }
  }
  @media only screen and (min-width: 576px){
    #modal1{
      input, textarea{
        max-width: 82%;
      }
    }
  }
/*contacts modal end*/
/*contacts ara end*/

/*footer area star*/
@media only screen and (max-width: 575px){
  #footer{
    .res-ponsiv{
      max-width: 33.3%;
    }
  }
}
@media only screen and (min-width: 350px) {
  #footer{
    .footer-item{
      padding-top: 45px;
      .res-ponsiv{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
      }
    }
  }
}
@media only screen and (max-width: 767px){
  #footer{
    .logo{
      max-width: 15%;
      margin: 0 auto;
    }
    p{
      text-align: center;
      font-size: 14px;
      width: 85%;
      margin: 0 auto;
      padding-right: 0px;
    }
    .socil-icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    }
    .footer-item{
      padding-top: 45px;
    }
  }
}
@media only screen and (max-width: 992px){
  #footer{
    p{
      padding-right: 0;
    }
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px){
  #footer{
    p{
      padding-right: 75px;
    }
  }
}

/*footer area end*/
